<!-- {% extends 'base.html' %}

{% block body %}

<h2>Select a Destination</h2>
<form action="/search_destination_by_dropdown">
    <label for="destination-choices">Choose a destination:</label>
    <select name="destination-choices" id="destination-choices">
        <option value="new-york">New York, NY</option>
        <option value="seattle">Seattle, WA</option>
        <option value="portland">Portland, OR</option>
        <option value="san-francisco">San Francisco, CA</option>
        <option value="dallas">Dallas, TX</option>
    </select>
    <input type="submit" value="submit">
</form>

{% endblock %} -->



